

<ngb-accordion>
  <ngb-panel [id]="'preventchange-'+i" *ngFor="let menu of sideMenu;index as i" >
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <a [routerLink]="menu.routePath">{{menu.name}}</a>
        <button ngbPanelToggle class="btn btn-link p-0">
          <i [ngClass]=" opened ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <ul>
        <ng-container
          *ngTemplateOutlet="recursiveListTmpl; context:{ topics: menu.children, count: 1 }"
        ></ng-container>
      </ul>
      <ng-template #recursiveListTmpl let-topics="topics" let-count="count" >
        <ng-container *ngFor="let topic of topics">
          <li>
            <ng-container *ngFor="let dash of [].constructor(count)">
              -
            </ng-container>
            <a [routerLink]="topic.routePath">{{ topic.name }}</a>
          </li>
          <ul  *ngIf="topic?.children && topic.children.length > 0">
            <ng-container
              *ngTemplateOutlet="recursiveListTmpl; context:{ topics: topic.children, count: count+1 }"
            ></ng-container>
          </ul>
        </ng-container>
      </ng-template>
    </ng-template>
  </ngb-panel>
</ngb-accordion>